[submodule "themes/monokai-theme"]
	path = themes/monokai-theme
	url = https://github.com/nrs/monokai-emacs
[submodule "site-lisp/turkish-mode"]
	path = site-lisp/turkish-mode
	url = https://github.com/nrs/turkish-mode
