[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "themes/monokai-theme"]
	path = themes/monokai-theme
	url = https://github.com/nrs/monokai-emacs
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "site-lisp/undo-tree"]
	path = site-lisp/undo-tree
	url = https://github.com/emacsmirror/undo-tree
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "site-lisp/evil"]
	path = site-lisp/evil
	url = https://github.com/emacsmirror/evil
[submodule "site-lisp/grizzl"]
	path = site-lisp/grizzl
	url = https://github.com/d11wtq/grizzl
[submodule "site-lisp/fiplr"]
	path = site-lisp/fiplr
	url = https://github.com/d11wtq/fiplr
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile
[submodule "site-lisp/s.el"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el
[submodule "site-lisp/pkg-info"]
	path = site-lisp/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el
[submodule "site-lisp/epl"]
	path = site-lisp/epl
	url = https://github.com/cask/epl
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes
